.breadcrumbs {
    padding: 20px;

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }

    a {
        color: $color-grey;

        &:nth-child(1) {
            color: $color-primary;
            font-weight: 600;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__third {
        pointer-events: none;
        cursor: default;
    }

    svg {
        path:nth-child(2) {
            fill: transparent;
        }
    }
}