$color-pink-light: #FBE2E9;
$color-lila: #89759A;
$color-purple-light: #AC889F;
$color-magenta: #FF004F;
$color-pink-extra-light: #E0C6E5;
$color-grey: #8c8c8c;


$color-primary: #94d7e2;
$color-secondary: #CCCCCC;
$color-accent: #b9fab9;
$color-complementary: #F5F5DC;


$font-primary: "Work Sans", sans-serif;